<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vue的UI框架 - 开关</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/view-design/dist/styles/iview.css">
    <script type="text/javascript" src="https://unpkg.com/view-design/dist/iview.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/vant@2.12/lib/index.css"/>
	<script src="https://cdn.jsdelivr.net/npm/vant@2.12/lib/vant.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/ant-design-vue@1.7.4/dist/antd.css"/>
	<script src="https://unpkg.com/ant-design-vue@1.7.4/dist/antd.min.js"></script>
	<link rel="stylesheet" type="text/css" href="./yxl.css"/>	
    <style type="text/css">
        #nav a[title="开关"]{
            background-color: white;
            width: 90px;
        }
    </style>
</head>
<body>
<header>

</header>
<main>
<div id="nav">
    <ul>
        <li v-for="item in items" :key="item.label">
            <a :href="item.href" :title="item.label">{{item.label}}</a>
        </li>
    </ul>	
</div>
<div id="app">
<table>
    <tr>
        <th></th>
        <th><img src="img/ivu.svg">View UI</th>
        <th><img src="img/van.png">Vant</th>
        <th><img src="img/el.svg">Element</th>
        <th><img src="img/ant.svg">Ant Design</th>
    </tr>
    <tr>
        <td>组件名</td>
        <td>Switch</td>
        <td>van-switch</td>
        <td>el-switch</td>
        <td>a-switch</td>
    </tr>
    <tr>
        <td>UI</td>
        <td>
            <i-switch v-model="i.value" :size="i.size" :loading="i.loading" :disabled="i.disabled">
            </i-number>
        </td>
        <td>
            <van-switch v-model="i.value" :size="v.size" :loading="v.loading" :disabled="v.disabled">
            </van-number>
        </td>
        <td>
            <el-switch v-model="e.value" :size="e.size" :disabled="e.disabled">
            </el-switch>
        </td>
        <td>
            <a-switch v-model="a.value" :size="a.size" :loading="a.loading" :disabled="a.disabled">
            </a-switch>
        </td>
    </tr>
    <tr>
        <td>代码</td>
        <td>
            <div v-html="i_code"></div><i class="el-icon-document-copy" title="复制"></i>
        </td>
        <td>
        </td>
        <td>
            <div v-html="e_code"></div><i class="el-icon-document-copy" title="复制"></i>
        </td>
        <td>
            <div v-html="a_code"></div><i class="el-icon-document-copy" title="复制"></i>
        </td>
    </tr>
    <tr>
        <td>数值</td>
        <td><el-input-number v-model="i.value"></el-input-number></td>
        <td></td>
        <td><el-input-number v-model="e.value"></el-input-number></td>
        <td><el-input-number v-model="a.value"></el-input-number></td>
    </tr>
    <tr>
        <td>最小值</td>
        <td><el-input-number v-model="i.min"></el-input-number></td>
        <td></td>
        <td><el-input-number v-model="e.min"></el-input-number></td>
        <td><el-input-number v-model="a.min"></el-input-number></td>
    </tr>
    <tr>
        <td>最大值</td>
        <td><el-input-number v-model="i.max"></el-input-number></td>
        <td></td>
        <td><el-input-number v-model="e.max"></el-input-number></td>
        <td><el-input-number v-model="a.max"></el-input-number></td>
    </tr>
    <tr>
        <td>步进值</td>
        <td><el-input-number v-model="i.step"></el-input-number></td>
        <td></td>
        <td><el-input-number v-model="e.step"></el-input-number></td>
        <td><el-input-number v-model="a.step"></el-input-number></td>
    </tr>
    <tr>
        <td>精度</td>
        <td><el-input-number v-model="i.precision"></el-input-number></td>
        <td></td>
        <td><el-input-number v-model="e.precision"></el-input-number></td>
        <td><el-input-number v-model="a.precision"></el-input-number></td>
    </tr>
    <tr>
        <td>提示</td>
        <td><el-input v-model="i.placeholder"></el-input></td>
        <td></td>
        <td><el-input v-model="e.placeholder"></el-input></td>
        <td><el-input v-model="a.placeholder"></el-input></td>
    </tr>
    <tr>
        <td>尺寸</td>
        <td>
            <el-radio-group v-model="i.size">
                <el-radio label="default">默认(default)</el-radio><br/>
                <el-radio label="large">大(large)</el-radio><br/>
                <el-radio label="small">小(small)</el-radio><br/>
                <br/>
            </el-radio-group>
        </td>
        <td>
        </td>
        <td>
            <el-radio-group v-model="e.size">
                <el-radio label="default">默认(default)</el-radio><br/>
                <el-radio label="medium">中(medium)</el-radio><br/>
                <el-radio label="small">小(small)</el-radio><br/>
                <el-radio label="mini">迷你(mini)</el-radio>
            </el-radio-group>
        </td>
        <td>
            <el-radio-group v-model="a.size">
                <el-radio label="default">默认(default)</el-radio><br/>
                <el-radio label="large">大(large)</el-radio><br/>
                <el-radio label="small">小(small)</el-radio><br/>
                <br/>
            </el-radio-group>
        </td>
    </tr>
    <tr>
        <td>禁用</td>
        <td>
            <el-checkbox v-model="i.disabled">禁用</el-checkbox>
        <td>
        </td>
        <td>
            <el-checkbox v-model="e.disabled">禁用</el-checkbox>
        </td>
        <td>
            <el-checkbox v-model="a.disabled">禁用</el-checkbox>
        </td>
    </tr>
    <tr>
        <td>其它</td>
        <td>
            <el-checkbox v-model="i.controlsOutside">置于两侧</el-checkbox><br/>
            <el-checkbox v-model="i.readonly">只读</el-checkbox></br>
            <el-checkbox v-model="i.editable">可编辑</el-checkbox></br>
            <el-checkbox v-model="i.activeChange">实时响应</el-checkbox></br>
        <td>
        </td>
        <td>
            <el-checkbox v-model="e.stepStrictly">步进倍数</el-checkbox></br>
            <el-checkbox v-model="e.controls">增减按钮</el-checkbox></br>
            增减按钮位置<br/>
            <el-radio-group v-model="e.controlsPosition">
                <el-radio label="default">默认(default)</el-radio><br/>
                <el-radio label="right">右(right)</el-radio><br/>
                <el-radio label="left">左(left)</el-radio><br/>
                <br/>
            </el-radio-group>
        </td>
        <td>
        </td>
    </tr>
</table>
</div>
</main>
<script src="./yxl.js"></script>
<script>
    new Vue({
        el: '#app',
        data: { 
            i:{//View UI
                value:10,//值
                size:"default",//尺寸
                loading:false,//加载中
                disabled:false,//禁用
            },
            v:{//Vant
                value:10,//值
                size:"default",//尺寸
                loading:false,//加载中
                disabled:false,//禁用
            },
            e:{//Element
                value:10,//值
                size:"default",//尺寸
                loading:false,//加载中
                disabled:false,//禁用
            },
            a:{//Ant Design
                value:10,//值
                size:"default",//尺寸
                loading:false,//加载中
                disabled:false,//禁用
            },
        },
        computed: {
            i_code(){
                return code('i-switch',this.i);
            },
            v_code(){
                return code('van-switch',this.e);
            },
            e_code(){
                return code('el-switch',this.e);
            },
            a_code(){
                return code('a-switch',this.a);
            }
        }
    })
</script>
</body>
</html>